.profileScreenPrenom {
    width: 30%;
    margin: 1rem auto;
    text-align: center;
    font-weight: bold;
}

.profileScreen_BarreRecherche {
    position: relative;
    width: 55%;
    margin: 0 auto;
}

.profileScreenInput {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.add {
    position: absolute;
    font-size: 2rem;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    cursor: pointer;
}

.add:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: rgb(223, 58, 58);
}

.profileScreenInput::placeholder {
    text-align: center;
    font-weight: bold;
}
